.post-thumb {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  grid-gap: 0.5em;
  padding: 0.5em 0.5em;

  a {
    position: relative;
    text-decoration: none;
    color: inherit;

    .thumbnails {
      min-width: 200px;
      height: 200px;
      width: 100%;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .thumbnails-content {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 200px;
      height: 200px;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 500;
      color: inherit;
      border: 1px solid rgba(0, 0, 0, 0.1);

      &.dark {
        border: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    .thumb-icons {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: all 200ms ease-in-out;

      span {
        font-size: 1.75rem;
        display: flex;
        align-items: center;
        color: #fff;

        svg {
          margin-right: 0.2em;
          fill: #fff;
        }
      }
    }

    &:hover .thumb-icons {
      opacity: 1;
    }
  }
}
