$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;

  .group {
    display: flex;
    align-items: center;
    gap: 1em;

    h4 {
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 1px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .nav-item {
    position: relative;

    svg {
      cursor: pointer;
    }

    .dropdown-menu {
      position: absolute;
      background: #fff;
      top: 2.25em;
      right: -5px;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
      display: flex;
      padding: 1em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 150px;
      border-radius: 5px;
      z-index: 10;

      &.dark {
        background: #181818;

        &::before,
        &::after {
          border: 8px solid #181818;
        }
      }

      &::before,
      &::after {
        top: -6px;
        right: 9px;
        left: auto;
        position: absolute;
        display: inline-block;
        content: '';
        border: 8px solid transparent;
        border: 8px solid #fff;
        transform: rotate(45deg);
        box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.03);
      }

      .dropdown-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0.5em;
        cursor: pointer;
        font-size: 0.9rem;
      }

      .dropdown-line {
        margin: 5px 0;
        height: 1px;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);

        &.dark {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
