.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  .search-form {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      padding: 0.5em;
      font-size: 1em;
      outline: none;
      border: none;
      border-bottom: 1px solid #8d8d8d;
      background: transparent;
      color: inherit;
      opacity: 0.7;

      &.searching,
      &:hover {
        border-bottom-color: #0091ff;
        opacity: 1;
      }
    }

    .search-icon {
      position: absolute;
      top: 0.5em;
      right: 0.5em;

      .icon-search {
        width: 1.5em;
        height: 1.5em;
        fill: #2e2e2e;

        &.dark {
          fill: #fafafa;
        }
      }
    }

    .close-search {
      position: absolute;
      top: 0.5em;
      right: 0.5em;

      .close {
        width: 1.5em;
        height: 1.5em;
        fill: #2e2e2e;

        &.dark {
          fill: #fafafa;
        }
      }
    }

    .users-result {
      top: 3em;
      width: 100%;
      position: absolute;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
