.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 1rem 0;

  .search-form {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      padding: 0.5em;
      font-size: 1em;
      outline: none;
      border: none;
      border-bottom: 1px solid #8d8d8d;
      background: transparent;
      color: inherit;
      opacity: 0.7;

      &.searching,
      &:hover {
        border-bottom-color: #0091ff;
        opacity: 1;
      }
    }

    .search-icon {
      position: absolute;
      top: 0.5em;
      right: 0.5em;

      .icon-search {
        width: 1.5em;
        height: 1.5em;
        fill: #2e2e2e;

        &.dark {
          fill: #fafafa;
        }
      }
    }

    .close-search {
      position: absolute;
      top: 0.5em;
      right: 0.5em;

      .close {
        width: 1.5em;
        height: 1.5em;
        fill: #2e2e2e;

        &.dark {
          fill: #fafafa;
        }
      }
    }
  }

  .users-result {
    top: 3.2em;
    right: -20%;
    width: 140%;
    background: #fff;
    height: 350px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.2em;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);

    &::before,
    &::after {
      top: -6px;
      right: 50%;
      left: auto;
      position: absolute;
      content: '';
      border: 8px solid transparent;
      border: 8px solid #fff;
      transform: rotate(45deg);
      box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.03);
    }

    &.dark {
      background: #2e2e2e;
      box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.1);

      &::before,
      &::after {
        border: 8px solid #2e2e2e;
        box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.03);
      }
    }

    .no-result {
      position: absolute;
      top: 40%;
      color: inherit;
    }

    .result-container {
      width: 100%;
      border-radius: 0.2em;
      overflow-y: auto;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);

      &.dark {
        background: #2e2e2e;
        box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.1);
      }

      .results {
        width: 100%;
      }
    }
  }
}
