.user-card {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.5em;
  background: #fff;
  transition: all 200ms ease-in-out;
  z-index: 10;
  position: relative;

  &.dark {
    background: #181818;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &:hover {
    border-color: #0091ff;
  }

  .user-name {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
  }
}
