PORT=5000
MONGO_URI=
BASE_CLIENT_URL=http://localhost:5000
BASE_SERVER_URL=http://localhost:5000
BASE_URL=http://localhost:5000
BASE_API_URL=api

CLOUD_NAME="YOUR USERNAME HERE"
CLOUD_PRESET="CLOUD_API_KEY"
CLOUD_API_BASE_URL="CLOUD_API_BASE_URL"

AJWTOKEN=accesssecret
RJWTOKEN=refreshsecret