.user-info {
  display: flex;
  align-self: center;
  justify-self: flex-start;
  width: 100%;
  max-width: 700px;
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (max-width: 400px) {
    padding: 0.5rem 0.5rem;
  }

  &.dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    @media (max-width: 400px) {
      flex-direction: column;
      gap: 1em;
    }

    .user-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      @media (min-width: 400px) {
        margin: 0 1rem;
      }
    }

    .info-content {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      flex: 2;

      @media (max-width: 400px) {
        padding: 0 0.5rem;
      }

      .info-title {
        display: flex;
        align-items: center;

        h2 {
          flex: 1;
        }

        .group-button {
          flex: 1;

          @media (max-width: 400px) {
            display: flex;
            justify-content: flex-end;
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.225em 1em;
          background: transparent;
          font-size: 1em;
          font-weight: 500;
          color: inherit;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 0.3rem;
          transition: all 200ms ease-in-out;
          outline: none;
          cursor: pointer;

          &.btn-info {
            width: 110px;
          }

          &.dark {
            border: 1px solid rgba(255, 255, 255, 0.5);
          }

          &:hover,
          &.active {
            background: #0091ff;
            color: #fff;
          }
        }
      }

      h6 {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
        margin-top: 1rem;
      }

      a {
        text-decoration: none;
        color: #0091ff;
      }

      .info-group {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 1rem;

        span {
          margin-right: 2rem;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            color: #0091ff;
          }

          &:nth-child(2) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
