.user-info {
  display: flex;
  align-self: center;
  justify-self: flex-start;
  width: 100%;
  max-width: 800px;
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    .user-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

    .info-content {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      flex: 2;

      .info-title {
        display: flex;
        align-items: center;

        h2 {
          flex: 1;
        }

        .group-button {
          flex: 1;
        }

        button {
          display: flex;
          align-items: center;
          padding: 0.2rem 1rem;
          background: transparent;
          font-size: 1em;
          font-weight: 500;
          color: inherit;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 0.3rem;
          transition: all 200ms ease-in-out;
          outline: none;

          &.dark {
            border: 1px solid rgba(255, 255, 255, 0.5);
          }

          &:hover,
          &:focus {
            background: #0091ff;
            color: #fff;
          }
        }
      }

      h6 {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
      }

      a {
        text-decoration: none;
        color: #0091ff;
      }

      .info-group {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 1rem;

        span {
          margin-right: 2rem;
          font-weight: 600;

          &:nth-child(2) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
