.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  flex-direction: column;
  background: fafafa;

  h1 {
    margin-bottom: 2rem;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 3rem;
  }

  button {
    display: flex;
    align-items: center;
    padding: 0.5em 1em 0.5em;
    background: #0091ff;
    font-size: 1em;
    font-weight: 500;
    color: #fafafa;
    outline: none;
    border: 3px solid #fff;
    border-radius: 1rem;
    transition: all 200ms ease-in-out;

    .arrow-left {
      fill: #fafafa;
      margin-right: 1rem;
      width: 1em;
      height: 1em;
    }

    &.dark {
      border: 3px solid #181818;
    }

    &:hover,
    &:focus {
      background: rgba(0, 119, 255, 0.7);
      box-shadow: 0px 0px 1px 1px rgba(0, 145, 255, 1);
    }
  }
}
