.comment-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding: 1rem 1rem 1.5rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  textarea {
    outline: none;
    border: none;
    padding: 0.2em;
    height: 1rem;
    resize: none;
    width: 100%;
    background: transparent;
    caret-color: rgba(0, 119, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
    color: inherit;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.15);
      border-radius: 3px;

      &:hover {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  textarea:focus ~ button {
    opacity: 0.5;
  }

  textarea:not(:empty) ~ button {
    opacity: 1;
  }

  button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    color: inherit;
    opacity: 0;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
