.post-card {
  margin: 5px 0;
  width: 100%;
  max-width: 700px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 0.2em;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);

  &.dark {
    background: #2e2e2e;
  }
}
