.homepage {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  flex-direction: column;

  .home-container {
    width: 100%;
    min-width: 320px;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .home-main {
      flex: 3;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0.5em 0.5em;

      .loading-profile {
        margin-top: 5rem;
        align-self: center;
        animation: spin 1000ms linear infinite;
      }
    }

    .home-sidebar {
      flex: 1.4;
      padding: 1em 0;
      min-width: 300px;

      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
