.heart-icon {
  cursor: pointer;
  &.active {
    fill: rgb(255, 88, 88);
    color: rgb(255, 88, 88);
    animation: pulse 500ms;
  }
}

@keyframes pulse {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
