.comment-display {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 1em;
  width: 100%;

  a.comment-info {
    display: inline-flex;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    gap: 0.5em;
  }

  .comment-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;

    &:hover .row .menu-icons .menu-option {
      opacity: 1;
    }

    span.row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        width: 100%;

        a {
          font-weight: 500;
          text-decoration: none;
          color: inherit;
        }

        .read-more {
          cursor: pointer;
          color: inherit;
          opacity: 0.5;
        }
      }

      .menu-icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5em;
      }
    }

    .group {
      display: inline-flex;
      align-items: center;
      gap: 0.8em;
      font-size: 0.8rem;

      span.comment-loading {
        opacity: 0.5;
        pointer-events: none;
      }

      button {
        font-size: 0.8rem;
        font-weight: 500;
        color: inherit;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}
