.card-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;

  .card-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 400;
  }

  .card-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .group {
      display: flex;
      justify-content: space-around;

      svg {
        margin-right: 1rem;
        cursor: pointer;

        &.heart.active {
          fill: rgb(255, 47, 47);
          color: rgb(255, 47, 47);
        }
      }
    }

    svg {
      cursor: pointer;
    }
  }
}
