.card-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem 1.5rem;

  .card-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
  }

  .card-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;

    .group {
      display: flex;
      justify-content: space-around;

      svg {
        margin-right: 1rem;
        cursor: pointer;

        &.active {
          fill: rgb(255, 88, 88);
          color: rgb(255, 88, 88);
          animation: pulse 500ms;
        }
      }
    }

    svg {
      cursor: pointer;
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
