.btn-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.225em 1em;
  background: transparent;
  font-size: 1em;
  font-weight: 500;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  transition: all 200ms ease-in-out;
  outline: none;
  cursor: pointer;

  &.dark {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &:hover,
  &.active {
    background: #0091ff;
    color: #fff;
  }
}
