.avatar {
  border-radius: 50%;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 200ms ease-in-out;

  &.small {
    width: 2em;
    height: 2em;
  }

  &.medium {
    width: 2.5em;
    height: 2.5em;
  }

  &.big {
    width: 4.5em;
    height: 4.5em;
  }

  &.large {
    width: 6em;
    height: 6em;
  }

  &:hover,
  &.active {
    outline-offset: 2px;
    outline-color: #0091ff;
  }
}
