.notify-container {
  width: 100%;

  .notify-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
  }
}
