.user-profile {
  min-height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  flex-direction: column;

  .loading-profile {
    margin-top: 5rem;
    align-self: center;
    animation: spin 1000ms linear infinite;
  }

  .profile-tab {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    max-width: 700px;
    margin: 0;
    box-sizing: border-box;

    .button-tab {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.6;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 1em 0.5em;

      svg {
        margin-right: 0.5em;
      }

      &.active {
        opacity: 1;
        border-top: 1px solid #000;
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
