$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

.header {
  min-width: 320px;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  top: 0;
  position: fixed;
  z-index: 1;

  &.dark {
    background: #2e2e2e;
  }

  .wrapper {
    width: 100%;
    max-width: 1000px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 700px) {
      & > * {
        width: 100%;
      }
    }

    @media (max-width: 400px) {
      padding: 0 1rem;
    }

    .left {
      display: flex;
      align-items: center;

      .logo {
        text-decoration: none;
        color: inherit;

        & > * {
          width: 3em;
          height: 3em;

          @media (max-width: 600px) {
            width: 2.5em;
            height: 2.5em;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .burger {
        display: none;
        transition: all 300ms $cubic;
        cursor: pointer;

        @media (max-width: 700px) {
          display: flex;
          overflow: hidden;
          flex-direction: column;
          justify-content: space-between;
          height: 15px;
          width: 20px;
        }

        span {
          width: 100%;
          height: 1px;
          background: #2e2e2e;
          transform-origin: left;
          transition: all 300ms $cubic;
          transition-delay: 0ms;
        }

        &.dark {
          span {
            background: #fafafa;
          }
        }

        &.open-menu {
          transform: rotate(90deg);
          .bar1 {
            transform: rotate(45deg);
            transition: transform 400ms $cubic;
            transition-delay: 200ms;
          }
          .bar2 {
            transform: rotate(-45deg);
            transition: transform 400ms $cubic;
            transition-delay: 200ms;
          }
        }
      }
    }
  }
}
